<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/project.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julee&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="maincontainer">
            <div class="tablebox">
                <div class="col-md-12 headingtext">
                    <img src="/static/Companylogo.jpg" width="70">
                    <div style="margin-left: 10px;">Electro Inventry</div>
                    <div style="display: flex; flex-direction: row; align-items: center ;justify-content: space-between;">
                        <a href="/productform" style="text-decoration: none;"><img src="/static/add.png" width="40"></a>
                    </div>
                </div>
               
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                          <th scope="col">S.No</th>
                          <th scope="col">Product Type</th>
                          <th scope="col">Company Name</th>
                          <th scope="col">Product Name</th>
                          <th scope="col">Mfg Date</th>
                          <th scope="col">Price<br>Offer</th>
                          <th scope="col">Picture</th>
                          <th scope="col">Update</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% for item in data %}
                          <th scope="row">{{item.listid}}</th>
                          <td>{{item.ProductType}}</td>
                          <td>{{item.CompanyName}}</td>
                          <td>{{item.ProductName}}</td>
                          <td>{{item.mfg}}</td>
                          <td><s>{{item.price}}</s><br>{{item.offer}}</td>
                          <td><a style="text-decoration: none;" href="/displaypicture?listid={{item.listid}}&producttype={{item.ProductType}}&modelname={{item.ProductName}}&picture={{item.picture}}"><img src="/static/{{item.picture}}" width="50"></a></td>
                          <td><a style="text-decoration: none;" href="/displaybyid?listid={{item.listid}}">Edit/Delete</a></td>
                        </tr>
                        {% endfor %} 
                      </tbody>
                </table>
            </div>
        </div>
    </body>
</html>